@import "./variables.scss";
.home-page {
  //background-image: url(../../static/assets/images/blue-door-books.jpg);
  background-color: $off-white;
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  border-top: 10px solid $dark-blue;
}
.home-searchbar h1{
  margin: 0;
}
.home-logo {
   text-align: center;
}
// .home-genre-buttons{
//   display: flexbox;
//   flex-direction: row 1fr;
//   justify-content: center;
//   align-items: center;
// }
.casa {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
}
