
@import './checkout.scss';

@import "./grid.scss";

html {
    font-size: 62.5%; // 1rem is 10px
}



.app {
    margin-top: 2rem;
    display: grid;
    justify-items: center;
}

.home-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;

   

    
}

.home-middle {
    margin-bottom: 50px;
}


