@mixin page-comp {
    background-color: $off-white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

@mixin btn-styles {
    width: 100%;
    height: 100%;
    border: none;
    background-color: lightblue;
    color: grey;
    font-weight: 700;

    &:focus {
        outline: none;
    }
}
