@import "./variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;

  align-items: center;
  margin: 0px;

  .logo {


    img {
    width: 10%;;
    margin: 0;
    padding: 15px;
    }
  }

  .navLinks{
     a{
      text-decoration: none;
      font-family: $title-font;
      color: $medium-blue;
      padding: 0px 20px;
      text-decoration: underline transparent;
      transition: 0.5s ease-in-out;

      &:hover{
        color: $dark-blue;
        text-decoration: underline $dark-blue;
      }
     }
  }
}

