$light-blue: #7FD6DA;
$medium-blue: #1C767E;
$dark-blue: #393E46;
$off-white: #fffaf0;

$title-font: 'Playfair Display', serif;
$text-font: 'Raleway', sans-serif;

$body-bg: #c1bdba;
$form-bg: #13232f;
$white: #ffffff;

$main: #1ab188;
$main-light: lighten($main,5%);
$main-dark: darken($main,5%);

$gray-light: #a0b3b0;
$gray: #ddd;

$thin: 300;
$normal: 400;
$bold: 600;
$br: 4px;